# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/


HelloMonkey/HelloMonkey.xcodeproj/project.xcworkspace/xcuserdata/darth.xcuserdatad/WorkspaceSettings.xcsettings

HelloMonkey/HelloMonkey.xcodeproj/xcuserdata/darth.xcuserdatad/xcschemes/HelloMonkey.xcscheme

HelloMonkey/HelloMonkey.xcodeproj/xcuserdata/darth.xcuserdatad/xcschemes/xcschememanagement.plist
